/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    padding: 0;
    margin: 0;
    background-color: #f6f4f2;
    font-weight: 200;
}

nav {
    position: absolute;
    margin: 0 0 0.5em 0;
    padding: 0;
    top: 0;
    background-color: black;
    height: 5%;
    width: 100%;
    display: flex;
}

nav {
    padding-top: .5em;
    justify-content: flex-end;
}

nav img {
    margin-right: 1em;
}

titel {
    margin-right: auto;
    margin-left: 1em;
    color: white;
}

nav + section {
    background-image: url(../images/HeroShot.jpg);
    height: 30em;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    width: 100%;
    margin: 0;
}

h1 {
    color: white;
    font-size: 1.8em;
    top: 30%;
    left: .5em;
    position: relative;
    margin: 0;
    font-weight: inherit;

}

h1 + p {
    color: #FFFFFF;
    font-size: 0.7em;
    position: relative;
    top: 30%;
    margin-left: 1.6em;
    font-family: ScalaSansOT, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

a.button {
    background-color: #1a1919;
    color: white;
    padding: .7em 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 25em;
    left: 1.5em;
    font-size: 75%;


}

section + section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f6f4f2;
    height: 10em;
    justify-content: space-evenly;
    align-items: center
}

h2 {
    color: #9a7b69;
    text-transform: uppercase;
    font-size: .8em;
    margin: 0;
    font-size: .6em;
    font-weight: inherit;
}

h2 + p {
    color: black;
    justify-content: center;
    margin: 0;
    font-size: 1em;
    font-weight: 100;

}

a.whatsapp {
    background-color: none;
    text-decoration: underline;
    color: #865;
    cursor: pointer;
    margin: 0;

}

main > section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section > h2 {
    margin-top: 2em;
    letter-spacing: .1em;
    line-height: 1.5em;
}

main > section > h3 {
    color: #453f3f;
    font-size: 1.5em;
    font-weight: inherit;
}

main > section > p {
    text-align: center;
    color: #453f3f;
    font-size: 0.9em;
    line-height: 1.5em;
    letter-spacing: .05em;
}

a.bestseller {
    text-decoration: none;
    color: #1a1919;
    border: 1px solid #b4b4b4;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.2;
    padding: .8em 1em;
    font-size: .75em;
    margin-bottom: 1.5em;
}

main > section > img {
    width: 100%;
    background-repeat: no-repeat;

}
